$darkestBlue: #222233;

$lightBlue: #ddddff;

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat:no-repeat;
  background: -webkit-linear-gradient( to left top, $lightBlue, $darkestBlue);
  background: -moz-linear-gradient( to left top, $lightBlue, $darkestBlue);
  background: -ms-linear-gradient( to left top, $lightBlue, $darkestBlue);
  background: -o-linear-gradient( to left top, $lightBlue, $darkestBlue);
  background: linear-gradient( to left top, $lightBlue, $darkestBlue);
}

.job-item {
  display: inline-block;

  font-size: 60px;
  line-height: 120px;
  padding: 0 60px;
  margin: 20px;

  background: rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}