$darkestBlue: #0b0c27;
$lightBlue: #5e82b2;

$failureRed: rgba(255, 100, 100, 0.75);

$successGreen: rgba(114, 255, 132, 0.75);

$unknownGrey: rgba(255, 255, 255, 0.35);
$unknownLightGrey: rgba(255, 255, 255, 0.85);

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: -moz-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: -ms-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: -o-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: linear-gradient(to left top, $lightBlue, $darkestBlue);
}

.job-item-container {
  display: inline-block;
  max-width: 75%;

  .job-item {
    font-family: 'Open Sans', sans-serif;

    font-size: 60px;
    line-height: 120px;
    padding: 0 60px;
    margin: 20px;

    background: $unknownGrey;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.failure {
      background: $failureRed;
    }

    &.success {
      background: $successGreen;
    }

    &.running {
      @keyframes example {
        0% {
          background-color: $unknownGrey;
        }
        50% {
          background-color: $unknownLightGrey;
        }
        100% {
          background-color: $unknownGrey;
        }
      }

      animation-name: example;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  }
}
