$darkestBlue: #0b0c27;
$lightBlue: #5e82b2;

$failureRed: rgba(255, 100, 100, 0.75);
$failureLightRed: rgba(255, 181, 179, 0.85);

$successGreen: rgba(114, 255, 132, 0.75);
$successLightGreen: rgba(168, 255, 182, 0.85);

$unknownGrey: rgba(255, 255, 255, 0.35);
$unknownLightGrey: rgba(255, 255, 255, 0.85);

html {
  font-family: 'Open Sans', sans-serif;

  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: -moz-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: -ms-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: -o-linear-gradient(to left top, $lightBlue, $darkestBlue);
  background: linear-gradient(to left top, $lightBlue, $darkestBlue);
}

.job-item-container {
  display: inline-block;
  max-width: 75%;

  .job-item {
    font-size: 60px;
    line-height: 120px;
    padding: 0 60px;
    margin: 20px;

    background: $unknownGrey;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.failure {
      background: $failureRed;
    }

    &.success {
      background: $successGreen;
    }

    @keyframes swing {
      20% {
        transform: rotate3d(0, 0, 1, 0deg);
      }

      40% {
        transform: rotate3d(0, 0, 1, -5deg);
      }
      80% {
        transform: rotate3d(0, 0, 1, 5deg);
      }
      to {
        transform: rotate3d(0, 0, 1, 0deg);
      }
    }

    &.running {
      &.undefined {
        @keyframes blinkUnknown {
          0% {
            background-color: $unknownGrey;
          }
          50% {
            background-color: $unknownLightGrey;
          }
          100% {
            background-color: $unknownGrey;
          }
        }

        transform-origin: top center;
        animation-name: swing, blinkUnknown;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }

      &.success {
        @keyframes blinkSuccess {
          0% {
            background-color: $successGreen;
          }
          50% {
            background-color: $successLightGreen;
          }
          100% {
            background-color: $successGreen;
          }
        }

        transform-origin: top center;
        animation-name: swing, blinkSuccess;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }

      &.failure {
        @keyframes blinkFailure {
          0% {
            background-color: $failureRed;
          }
          50% {
            background-color: $failureLightRed;
          }
          100% {
            background-color: $failureRed;
          }
        }

        transform-origin: top center;
        animation-name: swing, blinkFailure;
        animation-duration: 1s;
        animation-iteration-count: infinite;
      }
    }
  }
}

.manage-button {
  background-color: $unknownLightGrey;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  padding: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;

  &:hover {
    cursor: pointer;
  }
}
